
.main_container{

}

header{
    background-color: #1F2937;
}
.spot_cards{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.spot_img{
    background-color: #FFFBFF;
}
.spot_card{
    display: flex;
    padding: 20px;
}
.filter_section{
    display: flex;
    flex-direction: column;
}
.filter_aside{
    width: 30%;
    background-color: #FFFBFF;
}
.spot_img>a>img{
    width: 320px;
    height: 200px;
    object-fit:cover ;
}
.filters{
    display: flex;
    flex-direction: column;
    border: none;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.checked{
    color: #EB6708
}
.spot_info{
    padding-left: 20px;
}