@import url('fonts.css');

* {
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-size-m);
    margin: var(--m-md);
    min-height: 70vh;
    position: relative;

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap-size-2xl);
    align-items: center;
}


.profile-card{
    display: inline-flex;
    flex-direction: column;
    border-style: dashed;
    justify-content: center;
    align-items: center;
    padding: var(--p-2xl) var(--p-xl);
    border-radius: var(--br-m);
    gap: var(--gap-size-s);
    border-color: var(--text-color-2);
}

h1{
    text-transform: uppercase;
    font-family: 'Rubik';
    color: var(--text-color-1);
}

.guide-info{
    margin-top: var(--m-md);
}

.profile-card svg{
    width: var(--svg-m);
    height: var(--svg-m);
    color: var(--primary);
}

.profile-card p{
    text-transform: uppercase;
    font-family: 'NunitoSans';
    font-size: var(--fs-sm);
    color: var(--text-color-2);
}

.upload-btn, .submit-btn{
    background-color: var(--primary);
    color: var(--primary-5);
    text-transform: uppercase;
    font-size: var(--fs-xs);
    font-family: 'NunitoSans';
    border-radius: var(--br-m);
    border: none;
    padding: var(--p-xxs) var(--p-xs);
    transition: background-color 200ms;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.3);
}

.upload-btn:hover, .submit-btn:hover{
    background-color: var(--primary-5);
    color: var(--primary);
}

form{
    display: flex;
    flex-direction: column;
    gap: var(--gap-size-m);
}

label{
    text-transform: uppercase;
    font-family: 'NunitoSans';
    color: var(--text-color-2);
}

input, select{
    background-color: var(--primary-5);
    border-radius: var(--br-s);
    border: 1px solid var(--text-color-2);
    padding: var(--p-xs);
    font-family: 'NunitoSans';
    color: var(--text-color-3);
}

input::placeholder{
    font-family: 'NunitoSans';
    color: var(--text-color-3);
}

.submit-btn{
    position: absolute;
    right: var(--m-lg);
    bottom: var(--m-lg);

}
