@import url('fonts.css');
*{
    margin:0px;
}
h1, h2, h3{
    font-family: 'Rubik';
}


p{
    font-family: 'NunitoSans';
}
.main-container {
    display: flex;
    align-items: flex-start;
}


.btn svg{
    height: 20px;
    width: 20px;
    color: var(--primary);
}


.btn {
    background-color: var(--primary-4);
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
}



.filter-aside {
    position:sticky;
    top: 80px;
    align-self: flex-start;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px ;
    box-shadow: 1px 0 10px 2px var(--text-color-6);
}
 .filter-aside h2{
    color: var(--text-color-1);
    padding-bottom: 10px;
    font-size: 28px;
 }


.filter-section {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;

}
legend{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color-1);
}

.filters label{
    color: var(--text-color-2);
    font-family: 'NunitoSans';
}

.filters input[type="checkbox"]{
    cursor: pointer;
    accent-color: var(--primary);
    background-color: var(--primary-4);
    appearance: none; 
    -webkit-appearance: none; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--primary);
}

.filters input[type="checkbox"]:checked {
  background-color: var(--primary); 
}

.filters input[type="checkbox"]:hover {
  background-color: var(--primary); 
}

.spot-cards-container{
    width: 75%;
    height: 100vh;
    overflow-y: auto;
}

.spot-cards-container h2{
    color: var(--text-color-1);
    font-size: 20px;
    padding: 20px;
    text-align: right;

}

.spot-card {
    margin: 20px 30px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0px 0px 0.5px 0px;
    border-color: var(--text-color-6);
    border-radius: 20px;
    box-shadow: 2px 2px 2px var(--text-color-6);
    width: 90%;
    height: auto;

}

.spot-card :hover {
    transition: background-color 200ms;
    background-color: var(--accent-9);
    border-radius: 20px;
}
.spot-card :hover .btn{
    background-color: var(--primary-4);
}
.spot-card :hover .btn:hover {
    
    background-color: var(--primary);
}
.spot-card :hover .btn:hover svg{
    color:var(--primary-4);
    background-color: var(--primary);
}

.spot-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.spot-card .rating, .spot-card .action-btns{
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating{
    padding: 5px;
}
.readOnly-rating-stars{
    display: inline-flex;
    gap: 0px;
}
.readOnly-rating-stars .star{
    width: 15px;
    height: 15px;
    display: block;
    color: var(--accent-2);
}
.rating-num{
    color: var(--accent-2);
    font-family: 'NunitoSans';
}

.action-btns{
    margin-left: auto;
    display: inline-flex;
    gap: 8px;
}

.spot-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    justify-content: space-between;
}

.spot-info h3{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color-2);
    
}

.spot-info ul{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    
}
.spot-info ul li{
    list-style: none;
    border-radius:  8px;
    padding: 5px;
    color: var(--accent-2);
    font-family: 'NunitoSans';
    color: var(--text-color-3);
    background-color: var(--accent-9);
}

.spot-info p{
    color: var(--text-color-2);
}
