footer{
    background-color: var(--ftr-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--p-md) var(--p-sm);
}

.footer-left{
    display: flex;
    align-items: center;
    gap: var(--gap-size-m);
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.footer-logo img{
    width: var(--logo-size);
    height: var(--logo-size);
}

.footer-logo p{
    color:var(--primary);
    font-size: var(--fs-xs);
    padding: var(--p-md);
    font-weight: bold ;
    font-family: 'Rubik';
}


.footer-left h1{
    color: var(--bg-color);
    padding-left: var(--p-sm);
    font-size: var(--fs-2xl);
    font-family: 'Rubik';
}

.footer-left span{
    color:var(--primary);
}

.footer-right{
    display: flex;
    gap: var(--gap-size-m);
    margin-right: var(--m-md);
}

.footer-col{
    display: flex;
    flex-direction: column;
    gap: var(--gap-size-s);
}
.footer-col p{
    color: var(--primary-4);
    font-family: 'NunitoSans';
    text-transform: uppercase;
    font-size: var(--fs-s);
}

.footer-list{
    margin: 0;
    padding: 0;
}

.footer-list li{
    text-decoration: none;
    color: var(--primary-4);
    list-style: none;
    font-family: 'NunitoSans';
    padding: var(--p-xs) 0;
    font-size: var(--fs-xs);
}

.footer-list li:hover, .footer-list li a:hover{
    color: var(--primary);
}

.footer-list li a{
    text-decoration: none;
    color: var(--primary-4);
}

.footer-social{
    display: flex;
    flex-direction: row;
    gap: var(--p-md);
    margin: 0;
    padding: 0;
}

.footer-social svg{
    height: var(--svg-s);
    width: var(--svg-s);
    fill: var(--primary-4);
}

.footer-social svg:hover{
    fill: var(--primary);
}