@import url("https://unpkg.com/open-props");

:root {

  /* === font size === */

  font-size: 16px;

  --fs-xs: 0.75rem;   /* 12px */
  --fs-sm: 0.875rem;  /* 14px */
  --fs-base: 1rem;    /* 16px */
  --fs-lg: 1.25rem;   /* 20px */
  --fs-xl: 1.5rem;    /* 24px */
  --fs-2xl: 2rem;     /* 32px */
  --fs-3xl: 3rem;     /* 48px */
  --fs-hvr: 1.125rem;

  /* === svg size === */

  --svg-s: 1rem;
  --svg-m: 2rem;
  --svg-l: 3rem;

  /* === padding size === */

  --p-xxs: 0.25rem;  /* 4px */
  --p-xs:  0.5rem;   /* 8px */
  --p-sm:  0.75rem;  /* 12px */
  --p-md:  1rem;     /* 16px */
  --p-lg:  1.5rem;   /* 24px */
  --p-xl:  2rem;     /* 32px */
  --p-2xl: 3rem;     /* 48px */
  --p-3xl: 4rem;     /* 64px */

    /* === margin size === */

  --m-xxs: 0.25rem;  /* 4px */
  --m-xs:  0.5rem;   /* 8px */
  --m-sm:  0.75rem;  /* 12px */
  --m-md:  1rem;     /* 16px */
  --m-lg:  1.5rem;   /* 24px */
  --m-xl:  2rem;     /* 32px */
  --m-2xl: 3rem;     /* 48px */
  --m-3xl: 4rem;     /* 64px */

  /* === gap size === */

  --gap-size-xs: 0.313rem;  /* 5px */
  --gap-size-s: 0.75rem;   /* 12px */
  --gap-size-m: 1.25rem;   /* 20px */
  --gap-size-l: 2rem;      /* 32px*/
  --gap-size-xl: 3rem;     /* 48px */
  --gap-size-2xl: 4rem;    /* 64px */

  /* === border radius === */

  --br-s: 0.5rem;
  --br-m: 1.25rem;
  --br-circle: 50%;

  /* === logo size === */

 --logo-size: 4rem;  /* 64px */

  /* === COLOR === */

    --text-color-0: hsl(212 50% 13%);
    --text-color-1: hsl(212 50% 20%);
    --text-color-2: hsl(212 50% 30%);
    --text-color-3: hsl(212 50% 40%);
    --text-color-4: hsl(212 50% 50%);
    --text-color-5: hsl(212 50% 60%);
    --text-color-6: hsl(212 50% 70%);
    --text-color-7: hsl(212 50% 80%);
    --text-color-8: hsl(212 50% 90%);
    --text-color-9: hsl(212 50% 100%);

    --primary: hsl(24 100% 50%);
    --primary-1: hsl(24 100% 60%);
    --primary-2: hsl(24 100% 70%);
    --primary-3: hsl(24 100% 80%);
    --primary-4: hsl(24 100% 90%);
    --primary-4: hsl(24 100% 97%);

    --secondary: hsl(30, 96%, 60%);
    --secondary-1: hsl(30, 96%, 70%);
    --secondary-2: hsl(30, 96%, 80%);
    --secondary-3: hsl(30, 96%, 90%);

    --accent: hsl(165, 95%, 20%);
    --accent-1: hsl(165, 95%, 25%);
    --accent-2: hsl(165, 95%, 30%);
    --accent-3: hsl(165, 95%, 50%);
    --accent-4: hsl(165, 95%, 60%);
    --accent-5: hsl(165, 95%, 70%);
    --accent-6: hsl(165, 95%, 80%);
    --accent-7: hsl(165, 95%, 85%);
    --accent-8: hsl(165, 95%, 90%);
    --accent-9: hsl(165, 95%, 98%);

    --bg-color: hsl(0, 0%, 100%);
    --hdr-bg-color: hsl(212 50% 13%);
    --ftr-bg-color: hsl(212 50% 13%);
}