@import url("https://unpkg.com/open-props");

:root {
    /* === font size === */

    font-size: 16px;

  --fs-xs: 0.75rem;   /* 12px */
  --fs-sm: 0.875rem;  /* 14px */
  --fs-base: 1rem;    /* 16px */
  --fs-lg: 1.25rem;   /* 20px */
  --fs-xl: 1.5rem;    /* 24px */
  --fs-2xl: 2rem;     /* 32px */

  /* === svg size === */

  --svg-s: 1.25rem;
  --svg-m: 1.5rem;
  --svg-l: 2rem;
  --svg-xl: 3.125rem;

  /* === padding size === */

  --p-xxs: 0.25rem;  /* 4px */
  --p-xs:  0.5rem;   /* 8px */
  --p-sm:  0.75rem;  /* 12px */
  --p-md:  1rem;     /* 16px */
  --p-lg:  1.5rem;   /* 24px */
  --p-xl:  2rem;     /* 32px */
  --p-2xl: 3rem;     /* 48px */
  --p-3xl: 4rem;     /* 64px */

  /* === gap size === */

  --gap-size-xs: 0.313rem;
  --gap-size-s: 0.75rem;   /* 12px */
  --gap-size-m: 1.25rem;   /* 20px */
  --gap-size-l: 1.85rem;

  /* === border radius === */
  
  --br-s: 0.5rem;
  --br-m: 1.25rem;
  --br-circle: 50%;
  --br-capsule: 9999px;

  /* === COLOR === */

    --text-color-0: hsl(212 25% 10%);
    --text-color-1: hsl(212 25% 20%);
    --text-color-2: hsl(212 25% 30%);
    --text-color-3: hsl(212 25% 40%);
    --text-color-4: hsl(212 25% 50%);
    --text-color-5: hsl(212 25% 60%);
    --text-color-6: hsl(212 25% 70%);
    --text-color-7: hsl(212 25% 80%);
    --text-color-8: hsl(212 25% 90%);
    --text-color-9: hsl(212 25% 100%);

    --primary: hsl(24 94% 50%);
    --primary-1: hsl(24 94% 60%);
    --primary-2: hsl(24 94% 70%);
    --primary-3: hsl(24 94% 80%);
    --primary-4: hsl(24 94% 90%);
    --primary-4: hsl(24 94% 97%);

    --secondary: hsl(30, 96%, 60%);
    --secondary-1: hsl(30, 96%, 70%);
    --secondary-2: hsl(30, 96%, 80%);
    --secondary-3: hsl(30, 96%, 90%);

    --accent: hsl(156, 58%, 20%);
    --accent–1: hsl(156, 58%, 25%);
    --accent-2: hsl(156, 58%, 30%);
    --accent-3: hsl(156, 58%, 50%);
    --accent-4: hsl(156, 58%, 60%);
    --accent-5: hsl(156, 58%, 70%);
    --accent-6: hsl(156, 58%, 80%);
    --accent-7: hsl(156, 58%, 85%);;
    --accent-8: hsl(156, 58%,90%);
    --accent-9: hsl(156, 58%, 97%);

    --bg-color: hsl(0, 0%, 100%);
    --hdr-bg-color: hsl(212 25% 10%);
    --ftr-bg-color: hsl(212 25% 10%);
}