@import url('../styles/fonts.css');
@import url('../styles/global.css');

/* ====== Reset ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed black;
}
svg {
  width: var(--svg-m);
  height: var(--svg-m);
  color: var(--primary);
}

/* ====== Typography ====== */
h1 {
  font-family: 'RubikMonoOne';
  font-size: var(--fs-2xl);
}
h2 {
  font-family: 'NunitoSans';
  font-size: var(--fs-xl);
}
h3 {
  font-family: 'NunitoSans';
  font-size: var(--fs-lg);
}
p {
  font-family: 'NunitoSans';
  font-size: var(--fs-base);
  word-wrap: break-word;
}
/* ====== Main layout ====== */
.main-container {
  display: grid;
  grid-template:
    "header"
    "info"
    "suggestion" 
    "route"
    /
    1fr;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow: scroll;
}

.main-info {
  grid-area: info;
  display: flex;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: var(--gap-size-xl);
  justify-content: space-between;
}

.icon {
    display: block;
}

.main-info > img{
    width: 150px;
    height: fit-content;
    border-radius: var(--br-s);
}

p > span {
    color: var(--primary);
}
/* ====== Header ====== */
header{
    grid-area: header;
    position: sticky;
    top: 0;
    width: auto;
    z-index: 1000; 
    padding: 10px;
    background-color: var(--hdr-bg-color);
    display: flex;
    align-items:center;
}

.header-logo{
    display: inline-flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.header-logo img{
    width: 74px;
    height: 74px;
}
.header-logo h1{
    color: var(--bg-color);
    padding-left: 10px;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Rubik';
}
.header-logo h1 span{
    color:var(--primary);
}
.header-logo p{
    color:var(--primary);
    font-size: 12px;
    padding: 20px;
    font-weight: bold ;
}
.header-nav{
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-nav a{
    color:var(--primary-4);
    font-size: 12px;
    font-family: 'NunitoSans';
    text-decoration: none;
}

.header-nav a:hover{
    color: var(--primary);
}

.header-nav input{
    background-color: var(--primary-4);
    border-radius: 8px;
    border-style: none;
    padding: 7px;
}

.header-nav input::placeholder{
    color: var(--text-color-2);
    font-family: 'NunitoSans';
    padding-left: 10px;
}

.btn {
    background-color: var(--primary-4);
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
}

/* === rating === */

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-size-xs);
}

.readOnly-rating-stars {
    display: inline-flex;
}

.readOnly-rating-stars .star {
    width: var(--svg-s);
    height: var(--svg-s);
    display: block;
    color: var(--primary-2);
}

.rating .rating-num {
    font-family: 'NunitoSans';
    font-size: var(--fs-sm);
    color: var(--primary-2);
}
