@import url('../styles/fonts.css');
@import url('../styles/global.css');

/* ====== Reset ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed black; */
}

svg {
  width: var(--svg-m);
  height: var(--svg-m);
  color: var(--primary);
}

/* ====== Typography ====== */
h1 {
  font-family: 'Rubik';
  font-size: var(--fs-2xl);
}
h2 {
  font-family: 'NunitoSans';
  font-size: var(--fs-xl);
}
h3 {
  font-family: 'NunitoSans';
  font-size: var(--fs-lg);
}
p {
  font-family: 'NunitoSans';
  font-size: var(--fs-base);
  word-wrap: break-word;
}
/* ====== Main layout ====== */
.main-container {
  display: grid;
  grid-template:
    "header"
    "info"
    "cat" 
    "area"
    "rew"
    /
    1fr;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow: scroll;
}

.main-info {
  grid-area: info;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  gap: var(--gap-size-l);
  padding: var(--p-xl);
}

.icon {
  display: flex;
  flex-direction: column;
  justify-self: end;
}

.txt-info {
    align-content: space-between;
}

.main-info > img{
    width: 200px;
    height: fit-content;
    border-radius: var(--br-s);
    justify-self: end;
}

p > span {
    color: var(--primary);
}

/* ====== Header ====== */
header{
    grid-area: header;
}

/* === rating === */

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-size-xs);
}

.readOnly-rating-stars {
    display: inline-flex;
}

.readOnly-rating-stars .star {
    width: var(--svg-s);
    height: var(--svg-s);
    display: block;
    color: var(--primary-2);
}

.rating .rating-num {
    font-family: 'NunitoSans';
    font-size: var(--fs-sm);
    color: var(--primary-2);
}


.cat{
    grid-area: cat;
    display: flex;
    flex-direction: row;
    gap: var(--gap-size-m); 
    padding: var(--p-lg);
}
.area {
    grid-area: area;
    display: flex;
    flex-direction: row;
    gap: var(--gap-size-m); 
    padding: var(--p-lg);
}

.bubble-row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size-l); 
}

.bubble {
    padding: 0.75rem 2rem;
    border-radius: 2rem; /* Зураг дээрх шиг том дугуй */
    background-color: var(--primary-3);
    width: fit-content;
}

.bubble p {
    font-weight: 700;
    margin: 0;
    white-space: nowrap; /* Мөр тасрахгүй */
}

.review-section {
    grid-area: rew;
    padding: var(--p-lg);
}

.reviews{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap:var(--gap-size-l);
}

.review-card{
    background-color: var(--primary-4);
    padding: 15px;
    font-family: 'NunitoSans';
    color: var(--text-color-2);
}

.brief-review{
    font-weight:400;
    font-family: 'Rubik';
}

.review-card .star, .review-card .rating-num{
    color: var(--primary);
}

.btn{
    display: inline-flex;
    background-color: var(--primary-4);
    border-radius: var(--br-s);
    border-style: none;
    align-items: center;
    justify-content: center;
    font-family: 'NunitoSans';
    font-size: var(--fs-xs);
}

.actions{
    display: flex;
    gap:10px;    
}
.guide-btn, .review-btn{
    background-color: var(--primary);
    border-style: none;
    border-radius: var(--br-s);
    color:var(--primary-4);
    padding: 5px;
    width: 150px;
}
 .review-btn{
    background-color: var(--accent-2);
    color: var(--accent-9);
 }