@import url('fonts.css');

*{
    margin:0px;
}

header{
    position: sticky;
    width: auto;
    z-index: 1000; 
    padding: 10px;
    background-color: var(--hdr-bg-color);
    display: flex;
    align-items:center;
}

.header-logo{
    display: inline-flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.header-logo img{
    width: 74px;
    height: 74px;
}
.header-logo>h1{
    color: var(--bg-color);
    padding-left: 10px;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Rubik';
}
.header-logo>h1>span{
    color:var(--primary);
}
.header-logo>p{
    color:var(--primary);
    font-size: 12px;
    padding: 20px;
    font-weight: bold ;
    font-family: 'Rubik';
}
.header-nav{
    display: flex;
    gap: 8px;
    align-items: center;
}
.header-nav>a:link{
    text-decoration: none;
}
.header-nav a{
    color:var(--primary-4);
    font-size: 12px;
    font-family: 'NunitoSans';
}

.header-nav a:hover{
    color: var(--primary);
}
.btn{
    display: inline-flex;
    background-color: var(--primary-4);
    border-radius: var(--br-s);
    border-style: none;
    align-items: center;
    justify-content: center;
}
.btn svg{
    height: var(--svg-s);
    width: var(--svg-s);
    color: var(--primary);
}

.header-nav input{
    background-color: var(--primary-4);
    border-radius: 8px;
    border-style: none;
    padding: 7px;
}

.header-nav input::placeholder{
    color: var(--text-color-2);
    font-family: 'NunitoSans';
    padding-left: 10px;
}

.uria{
    font-family: 'NunitoSans';
    font-size: var(--fs-xl);
    font-style: italic;
    text-align: center;
}

.uria-h1{
    font-family: 'Rubik';
    font-size: var(--fs-2xl);
    font-weight: bold;
    text-align: center;
    color: var(--text-color-0);
}
.uria-h1 span{
    color: var(--primary);
}

.search-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-size-s);
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group label{
    font-size: var(--fs-m);
    font-family: 'Rubik';
    font-weight: bold;
    color: var(--text-color-2);
}
.form-group select{
    font-size: var(--fs-m);
    color:var(--text-color-3);
    font-family: 'NunitoSans';
    border: none;
    outline: none;
}

.submit-btn{
    background-color: var(--accent);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 50%;
    height: var(--svg-m);
    width: var(--svg-m);
}


.submit-btn svg{
    height: var(--svg-m);
    width: var(--svg-m);

}
