@import url('../styles/fonts.css');
@import url('../styles/font-size.css');

h1{
    font-family: 'Rubik';
    font-size: var(--fs-2xl);
}
h2{
    font-family: 'Rubik';
    font-size: var(--fs-xl);
}
h3{
    font-family: 'Rubik';
    font-size: var(--fs-lg);
}
p{
    font-family: 'NunitoSans';
    font-size: var(--fs-base);
}
*{
    /* margin: none;
    border: none; */
    border: 1px black dashed;
}
/* img {
    max-width: 300px;
    max-height: auto;
} */
.route {
    display: block;
    padding: 40px;
}

.route>section{
    /* display: grid;
    grid-template: 1fr 3fr; */
}

.rt-details {
    display: inline-flexbox;
    padding: 5%;
}

.text-box {

}

svg {
    height: 30px;
    width: 30px;
    fill: var(--primary);
}

.main-container {
    display: grid;
    max-width: 100%;
    grid-template-areas:
    'plan-title'
    'suggestion'
    'route'
    'notes'
    'save'
    'liked';
    gap: 50px;
}

.suggestion{
    display: grid;
    height: 300px;
    overflow: hidden;
    width: auto;
}

.suggestion h3{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10px;
}

.suggestion a{
    justify-self: end;
    color: var(--primary);
    transition: color 0.3s;
}

.suggestion > a:hover {
    color: var(--accent);
    text-decoration: underline;
}

 .TL {
    display: inline-flex;
    flex-direction: row;
    overflow-inline: scroll;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 25px;
    overflow-x: auto;
    align-self: center;
    padding: 10px;
}

.TP, suggested-point {
    padding: 10px;
    height: 200px;
    border-radius: 12px;
    background: no-repeat center;
    background-size: cover;
    gap: 100px;
}

.tp_ic {
    flex-direction: column;
    gap: 10px;
    z-index: 2; 
}

.TP>p {
    font: 20px var(--bg-color);
}

.plan-title {
    grid-area: plan-title;
    background: url("../files/14Landscape3.png") no-repeat center;
    background-size: cover;
    background-position-y: 50%;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.plan-title div {
    background-color: var(--bg-color);
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 9px var(--text-color-1);
    display: grid;
    grid-template-areas: 
        "h1 h1"
        "btn btn";
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 30px;
}
.plan-title h1 {
    grid-area: h1;
    text-align: center;
    margin: 0;
    padding: 0;
}
.share-button {
    display: inline-flex;
    align-items: center;
    justify-self: flex-end;
    gap: 5px;
}            
.share-button img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
    background-color: var(--primary-2);
}

header{
    position: sticky;
    width: auto;
    z-index: 1000; 
    padding: 10px;
    background-color: var(--hdr-bg-color);
    display: flex;
    align-items:center;
}
.header-logo{
    display: inline-flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.header-logo img{
    width: 74px;
    height: 74px;
}
.header-logo>h1{
    color: var(--primary-4);
    padding-left: 10px;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Rubik';
}
.header-logo>h1>span{
    color:var(--primary);
}
.header-logo>p{
    color:var(--primary);
    font-size: 12px;
    padding: 20px;
    font-weight: bold ;
}
.header-nav{
    display: flex;
    gap: 8px;
    align-items: center;
}
.header-nav>a:link{
    text-decoration: none;
}
.header-nav a{
    color:var(--primary-4);
    font-size: 12px;
    font-family: 'NunitoSans';
}
.header-nav a:hover{
    color: var(--primary);
}
