@import url('../styles/fonts.css');
h1, h2, h3{
    font-family: 'Rubik';
}
p{
    font-family: 'NunitoSans';
}
*{
    margin:0px;
    border: 1px black dashed;
}

.plan-title svg {
    height: 30px;
    width: 30px;
    color: var(--primary);
}

.main-container {
    display: grid;
    max-width: 100%;
    grid-template-areas:
    'plan-title'
    'suggestion'
    'route'
    'notes'
    'save'
    'liked';
    gap: 50px;
}

.suggestion{
    display: block;
    height: 300px;
}

.suggestion h3{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 15px;
}

.suggestion a{
    display: inline-block;
    color: var(--primary);
    text-align: end;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.suggestion > a:hover {
    color: var(--accent);
    text-decoration: underline;
}

 .TL {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 25px;
    overflow: scroll;
    overflow: hidden;
}

.TP {
    padding: 5px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.tp_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.tp_ic {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.tp_ic, .TP p {
    position: relative;
    z-index: 2; 
}

.plan-title {
    grid-area: plan-title;
    background: url("../files/14Landscape3.png") no-repeat center;
    background-size: cover;
    background-position-y: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.plan-title div {
    background-color: var(--bg-color);
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 9px var(--text-color-1);
    display: grid;
    grid-template-areas: 
        "h1 h1"
        "btn btn";
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 30px;
}
.plan-title h1 {
    grid-area: h1;
    text-align: center;
    margin: 0;
    padding: 0;
}
.share-button {
    display: inline-flex;
    align-items: center;
    justify-self: flex-end;
    gap: 5px;
}            
.share-button img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
    background-color: var(--primary-2);
}

header{
    position: sticky;
    width: auto;
    z-index: 1000; 
    padding: 10px;
    background-color: var(--hdr-bg-color);
    display: flex;
    align-items:center;
}
.header-logo{
    display: inline-flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.header-logo img{
    width: 74px;
    height: 74px;
}
.header-logo>h1{
    color: var(--primary-4);
    padding-left: 10px;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Rubik';
}
.header-logo>h1>span{
    color:var(--primary);
}
.header-logo>p{
    color:var(--primary);
    font-size: 12px;
    padding: 20px;
    font-weight: bold ;
}
.header-nav{
    display: flex;
    gap: 8px;
    align-items: center;
}
.header-nav>a:link{
    text-decoration: none;
}
.header-nav a{
    color:var(--primary-4);
    font-size: 12px;
    font-family: 'NunitoSans';
}
.header-nav a:hover{
    color: var(--primary);
}
